*{
    font-family: Verdana, sans-serif;
    
                                                
                                                
}
body{
    background-color: #457b9d;
}
button{
    border-radius: 100px;
    padding: 15px;
    border: 10px solid #F1FAEE;
}
.enable{
    background-color: #848C8E;
}
.reset{
    background-color: #A8DADC;
}
pre{
    font-family: 'Space Mono', monospace;
}
fieldset{
    background-color: white;
    border-radius: 20px;
    margin-top: 10px;
}
img{
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin:10px
}

.time_formatting{
    font-size: 30px;
    text-align: center;
    color: darkviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}